footer {
  border-top: 1px solid rgb(229, 229, 229);
}
.copyleft-navbar.navbar-default .navbar-nav > li > a:focus,
.copyleft-navbar.navbar-default .navbar-nav > li > a:active,
.copyleft-navbar.navbar-default .navbar-nav > li > a:hover {
  color: #5e5e5e;
  background-color: white;
}
.copyleft-navbar.navbar-default .navbar-nav > li > a,
.copyleft-navbar.navbar-default .navbar-brand,
.copyleft-navbar {
  color: #577632;
}
/* This is needed b/c ikiwiki inserts a span somewhere */
.copyleft-navbar.navbar-default .navbar-nav > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
        line-height: 20px;
        position: relative;
        display: block;
}
.copyleft-navbar .createlink a:focus,
.copyleft-navbar .createlink a:active,
.copyleft-navbar .createlink a:hover,
.copyleft-navbar .createlink a {
  color: #ce1f1f;
  padding-top: 15px;
  padding-bottom: 15px;
}
a.idOnly {
text-decoration: none !important;
}

.copyleft-breadcrumb > li + li:before {
  padding: 0 5px;
  color: #cccccc;
  content: "\21D2\00a0";
}
.copyleft-navbar-bottom {
  margin-bottom: 0;
  margin-top: 50px;
}
